body {
    margin-top: 20px;
}
.box{
    font-family: Tahoma,simsun;
    font-size: 12px;
    border: table;
    margin: 0 auto;
}
.box-head{
    padding: 5px 20px;
    background-color: #2487c9;
    color: #fff;
    font-size: 14px;
}
.box-body {
    padding: 10px 20px;
}
.box-body th{
    font-weight: normal;
    vertical-align: top;
    padding-top: 5px;
}
.box-body th{
    padding-top: 2px;
    padding-bottom: 8px;
}
.box-body select{
    font-family: Tahoma,simsun;
    font-size: 12px;
    padding-bottom: 2px 5px;
    cursor: pointer;
}
.box-body label{
    margin-right: 5px;
    cursor: pointer;
}
.box-body input{
    cursor: pointer;
}
.box-body input{
    vertical-align: middle;
    font-family: Tahoma,simsun;
    font-size: 12px;
}
.box-body input[type=text]{
    margin-top: 2px;
}
.box-body input[type=radio]{
    padding: -1px;
}
.box-body input[type=submit]{
    padding: 4px 15px;
    cursor: pointer;
}
